{
	"data": "ENC[AES256_GCM,data:0haBDUE6+1VXMBQBoicEk/BsmN0dpCtATu2/UBPWvIFssB16G/JyV40puni8N0OuCrsjwqEjJZj8xsUxK4w9vmB2EGj8/2bW4Kyj2/I8RDbpvVepAIVK5SNR4YJD1FYAQcFwoPZgOJ2nB4Z0PQnmJa/juYSmH6O88+Irew==,iv:27FaY/XLg7ZnNMy36fpCSBZ/hiNCBH6i0Tz/W18zbbY=,tag:419VdutXlDCokM/EbxYYvA==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1hhnjylnwfh0w6sxzlvc905ma8wa5pkspv9k2kj8a0d993m8h734se3jh7u",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBLNDJieGlKcGFjQ1E4RjZL\nNmVlclpNNCtadlVWSzJsMThsby9lQTM0NFJFCnpid1g5L0t4M3MvTWNsUHNJb3M0\neFVueVRpbjhIMGRmSWFIbHJjOUs5OFUKLS0tIGhHaElLcWpmYVVQQU5oLy9rb3dB\nOUNybFpLZzRkNk00TTJwUmY2WkppUHMKykoY9Ha/f5BZvS0FcgL7qd238F6/oMeZ\nDPPNPzJWeCOZq7f2FbrlLVGg0GJMSYX3OyBOmpDnhR2gueZhIEn1HQ==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2025-03-10T19:18:47Z",
		"mac": "ENC[AES256_GCM,data:MLNEUGkN9md4VU6zBXyRT0tbd1lCwSp8QS2w993gzZEE+eQA19NQR4EnaWqqT6QISnn5hmLGqdJcv9K8x6MPEZvOUwh+/TZnBA6mZtTMI19YWm2iabYA4I+7PxcOjcV+UPl19hdZD0XyWBLbTXUvg+LUEqx83LrXH+TQbllSskg=,iv:BkADebmdgOQhERiGbzKDFzNjDyqUKx0zDWiTWRts7FE=,tag:S6bwaUWKFPW4TIlWbqlDGQ==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.9.4"
	}
}
