{
	"data": "ENC[AES256_GCM,data:vnbODG1MTrngr4cJg++ZaRPxosq7posbChH0FKYKESApV99NDLpEG8mC5dgN5ZNnUugCseGVevkfAB2ISzzP23cL8pudMOVgpF9ZpWyvQSb5meT9hg3S0oSJAb+Mllr3VrZ5vTM6hbhiqpyq+IoVgjGr53Sh211/P9DNjfWR6jQIiJAwKfLn,iv:pqGoj912U+q6Baf+t3G+1xvtwYG25fSr+XX7shXcI5k=,tag:2qqJ9eD9mlqdGWyJuxXkjQ==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1hhnjylnwfh0w6sxzlvc905ma8wa5pkspv9k2kj8a0d993m8h734se3jh7u",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBqelNJYnliZ2ZaM2IvLzRO\nRVlZbmlOa2s1QjhzNWUyWktjS294WUNuRTJVCi8wTm5KYmRaRzJYQjZSc21jR09q\nbm1XdXEwMGNKeUp3anpxUTAzUFJBUDQKLS0tIFdNUVdvekQ4dGo1eWE2LytHSVNR\nSUhKdmJBS2pXWnBIMGw4ajV2akw3dk0KyeOX7IptzeGi0VSzw0yznFHef1ahI2kS\nPQaB8877oQ8zVOOZ5u5gdGod0r9r35hvBVeSa1U41uSSYhWKTv17mw==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2023-12-06T21:01:13Z",
		"mac": "ENC[AES256_GCM,data:EmG8aArXQbXFMftY7Oo7wUQMJWuVImCOZ5YYoMQmHfTutVNBSFPtjs1IVK/SblhL8y+H/XLsnk14kIt+VNfmaPkWlFLzVEZxBTFGD688SDYR3/mAJbo7dTP6r7W3r2U04QRjbOzeXhR6HPjmBf9ef9QXY3YQzRNk1S56Q94Da6s=,iv:VmjZ/gCAwZtDrT5iqFA1Xm+HeZWOC+SSQH4nmexZ8Ow=,tag:uE5g/b891vA0mKU4cSlb2w==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.8.1"
	}
}
